# Caches
__pycache__/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Specific instance details
logs/
time/
.env

# VS Code config
.vscode

# Temporary scripts & caches
stats/
temp/
*.pk

# Assets
assets/